@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
:root{
  --nav_bar : rgba(12, 11, 11, 0.959);
  --primary-color: rgb(202, 198, 198);
}

/*******************Navbar***********************/
.logo{
  width: 16rem;
}

.body{
  font-family: 'Roboto Slab', serif;
}

.navbar{
  background-color:var(--nav_bar);
  color:var(--primary-color) !important;
}

.navbar-brand{
  float:left !important;
  padding: 0 !important;
}
.navbar-toggler{
  background-color: transparent !important;
  border-style: none !important;
}
.nav-item a{
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;
  color:var(--primary-color) !important;
}
nav ul li {
  text-transform: uppercase;
  padding-left: 2rem;
}
.navbar li a{
  border-bottom: 0.2rem solid transparent !important;
}
nav ul li a:focus{
  color :rgb(0, 199, 235) !important;
}

nav ul li a:hover{
  border-bottom: 0.2rem solid rgb(0, 199, 235) !important;
}